<link href="${rc.contextPath}/css/shopping.css" rel="stylesheet">
<link href="${rc.contextPath}/css/style.css" rel="stylesheet" type="text/css">
<link href="${rc.contextPath}/css/checkout.css" rel="stylesheet">
<script src="${rc.contextPath}/js/more.js"></script>
<div class="header" id="home">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Sansan</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:index()"><img
					src="${rc.contextPath}/images/back.png" alt="" /></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:index()"
						class="hvr-bounce-to-top">超市首页<span class="sr-only">(current)</span></a></li>
					<li><a href="#spyl" class="hvr-bounce-to-top">食品饮料</a></li>
					<li><a href="#mrhl" class="hvr-bounce-to-top">美容护理</a></li>
					<li><a href="#lyfs" class="hvr-bounce-to-top">粮油副食</a></li>
					<li><a href="#jtqj" class="hvr-bounce-to-top">家庭清洁</a></li>
					<li><a href="#sxsg" class="hvr-bounce-to-top">生鲜水果</a></li>
					<li><a href="#myyp" class="hvr-bounce-to-top">母婴用品</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</nav>
</div>
<div id="mrhl" class="provide">
	<div
		class="col-sm-12 provide-left provide-one hvr-shutter-out-horizontal"
		style="width: 100%;">
		<h5>
			<span class="glyphicon glyphicon-shopping-cart pull-leftt">&nbsp;&nbsp;</span>会员积分
		</h5>
	</div>
	<div class="clearfix"></div>
</div>
<div>
	<table class="table table-striped table-hover" style="margin-top: 2px;">
		<tbody>
			<tr>
				<th>会员卡编号号：</th>
				<th>$!{member.memberId}</th>
			</tr>
			<tr>
				<th>用户账号：</th>
				<th>$!{user.phone}</th>
			</tr>
			<tr>
				<th>用户名：</th>
				<th>$!{user.username}</th>
			</tr>
			<tr>
				<th>累计积分：</th>
				<th>$!{member.point}</th>
			</tr>
			<tr>
				<th>享受折扣：</th>
				<th>$!{member.discount}</th>
			</tr>
		</tbody>
	</table>
</div>
<div style="position: absolute; bottom: 0px; width: 100%;">
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-left">
				<p>Copyright&copy;2016.ZhuShanshan</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</div>