html {
    font-size: 50px;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}
body {
    height: 100%;
    background: #16a085;
    overflow: hidden;
	font-family: "Microsoft YaHei";
    font-size: .28em;
    line-height: 1;
    color: #333;
    background-color: white;
	margin: 0;
}
.admin_login {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 10% auto 0 auto;
    padding: 40px;
    box-shadow: 0 -15px 30px #0d957a;
    border-radius: 5px;
}

.admin_login dt {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #45bda6;
    text-shadow: 0 0 1px #0e947a;
    margin-bottom: 15px;
}
.admin_login dt strong {
    display: block;
}
.admin_login dd {
    margin: 5px 0;
    height: 42px;
    overflow: hidden;
    position: relative;
}


.admin_login dd::before {

    font-family: 'adminthemesregular';
    position: absolute;
    top: 0;
    left: 10px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #0c9076;

}
.admin_login dd .login_txtbx {
    font-size: 14px;
    height: 44px;
    line-height: 26px;
    padding: 8px 5%;
    width: 100%;
    text-indent: 2em;
    border: none;
    background: #5cbdaa;
    color: white;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, select, button {
    outline: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.admin_login dd::before {
    font-family: 'adminthemesregular';
    position: absolute;
    top: 0;
    left: 10px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #0c9076;
}
.admin_login dd .submit_btn {
    width: 100%;
    height: 42px;
    border: none;
    font-size: 16px;
    background: #57e070;
    color: #f8f8f8;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, select, button {
    outline: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.admin_login dd p {
    color: #53c6b0;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}
h6, p {
    line-height: 1.41;
    text-align: justify;
    margin: -.2em 0;
    word-break: break-all;
}